In [2]:
## crea el DataFrame 
## los DataFrame en Pandas son diccionarios 
import  pandas 
df  =  pandas . DataFrame (  { 'index' :  list ( range ( 1 , 6 )), 
                        'name' :  [ 'A' ,  'B' ,  'C' ,  'D' ,  'E' ], 
                        'value' :  [ 3.03 ,  5.14 ,  0.40 ,  1.13 ,  8.25 ]}) 
df

   index name  value
0      1    A   3.03
1      2    B   5.14
2      3    C   0.40
3      4    D   1.13
4      5    E   8.25

In [3]:
## pandas.DataFrame
df.to_pickle('files/data.pickle')

In [4]:
pandas.read_pickle('files/data.pickle')

   index name  value
0      1    A   3.03
1      2    B   5.14
2      3    C   0.40
3      4    D   1.13
4      5    E   8.25

In [5]:
## Se escribe el archivo 
df.to_csv('files/data.csv',   # el nombre del archivo
          index = False)      # imprime los nombres de las filas?

## verifica el archivo creado
print(open('files/data.csv', 'r').read())

index,name,value
1,A,3.03
2,B,5.14
3,C,0.4
4,D,1.13
5,E,8.25

In [6]:
pandas.read_csv('files/data.csv')

   index name  value
0      1    A   3.03
1      2    B   5.14
2      3    C   0.40
3      4    D   1.13
4      5    E   8.25

In [7]:
## La función read_csv para leer archivos contiene otros otros parámetros importantes
pandas.read_csv('files/data.csv',  # el archivo
                    sep = ',',         # separador de campos
                    thousands = None,  # separador de miles para números
                    decimal = '.')     # separador de los decimales para números

   index name  value
0      1    A   3.03
1      2    B   5.14
2      3    C   0.40
3      4    D   1.13
4      5    E   8.25

In [8]:
## Escribe el archivo con las especificaciones de formato
df.to_csv('files/data.csv2',     # nombre del archivo
           sep = ';',            # separador de campos
           decimal = ',',        # caracter decimal
           index = False)        # imprime indice de las filas?

## Verifica el archivo creado
print(open('files/data.csv2', 'r').read())

index;name;value
1;A;3,03
2;B;5,14
3;C;0,4
4;D;1,13
5;E;8,25

In [9]:
## Lee el archivo nuevamente
pandas.read_csv('files/data.csv2',
                 sep = ';',
                 thousands = None,
                 decimal = ',')

   index name  value
0      1    A   3.03
1      2    B   5.14
2      3    C   0.40
3      4    D   1.13
4      5    E   8.25

In [10]:
## Escribe el archivo en formato .txt
df.to_csv('files/data.txt',     # nombre del archivo
          sep = ' ',            # separador de campos
          decimal = '.',        # caracter decimal
          index = False)        # imprime indice de las filas?

## verifica el archivo creado
print(open('files/data.txt', 'r').read())

index name value
1 A 3.03
2 B 5.14
3 C 0.4
4 D 1.13
5 E 8.25

In [11]:
# lee el archivo del disco
pandas.read_table('files/data.txt',
                   sep = ' ',
                   decimal = '.',
                   thousands = None)

   index name  value
0      1    A   3.03
1      2    B   5.14
2      3    C   0.40
3      4    D   1.13
4      5    E   8.25

In [12]:
# crea un archivo separado por multiples espacios en blanco.
# los nombres de las columnas están separados por comas.
text = """indexnames      valuescodes
    1john wick    2.13   10
    2mark twin    3.14   11
    3louis ng     4.34   12
    4dan brown    2.31   13
    5ann marie    4.98   14"""

with open('files/data.txt', 'w') as f:
    f.write(text)
    
## verifica el archivo creado
print(open('files/data.txt', 'r').read())

indexnames      valuescodes
    1john wick    2.13   10
    2mark twin    3.14   11
    3louis ng     4.34   12
    4dan brown    2.31   13
    5ann marie    4.98   14

In [13]:
## Lee el archivo nuevamente
pandas.read_fwf('files/data.txt', 
                colspecs = 'infer', 
                widths = [5, 9, 8, 5])

   index      names  values  codes
0      1  john wick    2.13     10
1      2  mark twin    3.14     11
2      3   louis ng    4.34     12
3      4  dan brown    2.31     13
4      5  ann marie    4.98     14

In [14]:
## Escribe el DataFrame al archivo tipo JSON
df.to_json('files/data.json')

## Verifica el archivo creado
print(open('files/data.json', 'r').read())

{"index":{"0":1,"1":2,"2":3,"3":4,"4":5},"name":{"0":"A","1":"B","2":"C","3":"D","4":"E"},"value":{"0":3.03,"1":5.14,"2":0.4,"3":1.13,"4":8.25}}

In [15]:
## Lee el archivo nuevamente
pandas.read_json('files/data.json')

   index name  value
0      1    A   3.03
1      2    B   5.14
2      3    C   0.40
3      4    D   1.13
4      5    E   8.25

In [16]:
## Convierte el DataFrame a HTML
df.to_html('files/data.html',
           index = False)

## Verifica el archivo creado
print(open('files/data.html', 'r').read())

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>index</th>
      <th>name</th>
      <th>value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>A</td>
      <td>3.03</td>
    </tr>
    <tr>
      <td>2</td>
      <td>B</td>
      <td>5.14</td>
    </tr>
    <tr>
      <td>3</td>
      <td>C</td>
      <td>0.40</td>
    </tr>
    <tr>
      <td>4</td>
      <td>D</td>
      <td>1.13</td>
    </tr>
    <tr>
      <td>5</td>
      <td>E</td>
      <td>8.25</td>
    </tr>
  </tbody>
</table>

In [17]:
## Lee el archivo nuevamente
pandas.read_html('files/data.html')

[   index name  value
 0      1    A   3.03
 1      2    B   5.14
 2      3    C   0.40
 3      4    D   1.13
 4      5    E   8.25]

In [18]:
## Convierte el DataFrame a un libro de Excel
df.to_excel('files/data.xlsx',
            index = False)

In [19]:
## Lee el archivo nuevamente
pandas.read_excel('files/data.xlsx')

   index name  value
0      1    A   3.03
1      2    B   5.14
2      3    C   0.40
3      4    D   1.13
4      5    E   8.25

In [20]:
## Convierte el DataFrame a formato HF5
df.to_hdf('files/data.h5', 
          key = 'G1')

In [21]:
## Lee el archivo nuevamente aclarando que el campo clave será G1
pandas.read_hdf('files/data.h5',
                key = 'G1')

   index name  value
0      1    A   3.03
1      2    B   5.14
2      3    C   0.40
3      4    D   1.13
4      5    E   8.25

In [22]:
## Lee el archivo nuevamente
pandas.read_hdf('files/data.h5')

   index name  value
0      1    A   3.03
1      2    B   5.14
2      3    C   0.40
3      4    D   1.13
4      5    E   8.25

In [23]:
## escribe el archivo
df.to_stata('files/data.dta')

## lee el archivo
pandas.read_stata('files/data.dta')

   level_0  index name  value
0        0      1    A   3.03
1        1      2    B   5.14
2        2      3    C   0.40
3        3      4    D   1.13
4        4      5    E   8.25

In [26]:
import PyPDF2
pdfFileObj = open('files/data.pdf', 'rb')
pdfReader = PyPDF2.PdfFileReader(pdfFileObj)
pageObj = pdfReader.getPage(0)
pageObj.extractText()

ModuleNotFoundError: No module named 'PyPDF2'

"R is a programming language and software environment for  statistical computing and graphics supported by the R Foundation for Statistical Computing.[3] The R language is widely used among statisticians and data miners for developing statistical software[4] and data analysis.[5] Polls, surveys of data miners, and studies of scholarly literature databases show that R's popularity has increased substantially in recent years.[6]"

In [27]:
import scipy.io as sio
sio.savemat('files/data', {'df': df})
sio.loadmat('files/data')

{'__header__': b'MATLAB 5.0 MAT-file Platform: nt, Created on: Fri Nov 22 16:04:47 2019',
 '__version__': '1.0',
 '__globals__': [],
 'df': array([[(array([[None]], dtype=object), array([[None]], dtype=object), array([[None]], dtype=object))]],
       dtype=[('index', 'O'), ('name', 'O'), ('value', 'O')])}