In [1]:
## importa la librería
import pandas
import numpy as np

pandas.set_option('display.notebook_repr_html', False)

In [2]:
## Lee el archivo del disco.
x = pandas.read_csv('files/iris.csv',
                     sep = ',',
                     thousands = None,
                     decimal = '.')

In [3]:
## Se agrupa el set de datos por una columna dada
x.sort_index(1, ascending = False).head()

  variety  sepal.width  sepal.length  petal.width  petal.length
0  Setosa          3.5           5.1          0.2           1.4
1  Setosa          3.0           4.9          0.2           1.4
2  Setosa          3.2           4.7          0.2           1.3
3  Setosa          3.1           4.6          0.2           1.5
4  Setosa          3.6           5.0          0.2           1.4

In [5]:
## ordena por varias columnas
## devuelve los indices de las filas
## ordena primero por Sepal.Width y luego por Sepal.Length
x.sort_values(by = ['sepal.width', 'sepal.length']).head(10)

     sepal.length  sepal.width  petal.length  petal.width     variety
60            5.0          2.0           3.5          1.0  Versicolor
62            6.0          2.2           4.0          1.0  Versicolor
119           6.0          2.2           5.0          1.5   Virginica
68            6.2          2.2           4.5          1.5  Versicolor
41            4.5          2.3           1.3          0.3      Setosa
93            5.0          2.3           3.3          1.0  Versicolor
53            5.5          2.3           4.0          1.3  Versicolor
87            6.3          2.3           4.4          1.3  Versicolor
57            4.9          2.4           3.3          1.0  Versicolor
80            5.5          2.4           3.8          1.1  Versicolor

In [7]:
## partición por los valores de la columna `Species`
y = x.groupby('variety')
y.groups.keys()

dict_keys(['Setosa', 'Versicolor', 'Virginica'])

In [8]:
## Cantidad de grupos. Este comando funciona como un select distintc en SQL
len(y.groups)

3

In [9]:
## Cantidad de grupos. Funciona como un agrupamiento y conteo por la columna Species en SQL.
y.size()

variety
Setosa        50
Versicolor    50
Virginica     50
dtype: int64

In [11]:
## Elementos de un subgrupo agregado.
x.loc[y.groups['Setosa']].head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [12]:
## Elementos de otro subgrupo
x.loc[y.groups['Virginica']].head()

     sepal.length  sepal.width  petal.length  petal.width    variety
100           6.3          3.3           6.0          2.5  Virginica
101           5.8          2.7           5.1          1.9  Virginica
102           7.1          3.0           5.9          2.1  Virginica
103           6.3          2.9           5.6          1.8  Virginica
104           6.5          3.0           5.8          2.2  Virginica

In [13]:
## Se aplica la suma de cada columna para cada especie. La salida es un nuevo dataframe.
x.groupby('variety').sum()

            sepal.length  sepal.width  petal.length  petal.width
variety
Setosa             250.3        171.4          73.1         12.3
Versicolor         296.8        138.5         213.0         66.3
Virginica          329.4        148.7         277.6        101.3

In [14]:
## Se seleccionan solo para la medida Sepal_Length
(x.groupby('variety').sum())["sepal.length"]

variety
Setosa        250.3
Versicolor    296.8
Virginica     329.4
Name: sepal.length, dtype: float64

In [15]:
## conteo de casos.
## número de casos por `Species`
x['variety'].value_counts()

Virginica     50
Setosa        50
Versicolor    50
Name: variety, dtype: int64

In [16]:
## conteo de casos por `Sepal.Length`
x['sepal.length'].value_counts()

5.0    10
6.3     9
5.1     9
6.7     8
5.7     8
5.5     7
5.8     7
6.4     7
6.0     6
4.9     6
6.1     6
5.4     6
5.6     6
6.5     5
4.8     5
7.7     4
6.9     4
5.2     4
6.2     4
4.6     4
7.2     3
6.8     3
4.4     3
5.9     3
6.6     2
4.7     2
7.6     1
7.4     1
4.3     1
7.9     1
7.3     1
7.0     1
4.5     1
5.3     1
7.1     1
Name: sepal.length, dtype: int64

In [17]:
## aplicación de una funcion a columnas especificas 
## de un data.frame
import numpy as np
x[['sepal.length', 'sepal.width']].apply(np.mean)

sepal.length    5.843333
sepal.width     3.057333
dtype: float64

In [18]:
## aplica la función a la columna especificada por grupos
(x.groupby('variety').mean())["sepal.length"]

variety
Setosa        5.006
Versicolor    5.936
Virginica     6.588
Name: sepal.length, dtype: float64

In [19]:
## aplica la función a la columna especificada por grupos
(x.groupby('variety').mean())[["sepal.length", 
                               "sepal.width",
                               "petal.length",
                               "petal.width"]]

            sepal.length  sepal.width  petal.length  petal.width
variety
Setosa             5.006        3.428         1.462        0.246
Versicolor         5.936        2.770         4.260        1.326
Virginica          6.588        2.974         5.552        2.026

In [20]:
## UNION
z = pandas.concat( [x.iloc[y.groups['Setosa']],
                    x.iloc[y.groups['Virginica']],
                    x.iloc[y.groups['Versicolor']]])

z['variety'].value_counts()

Virginica     50
Setosa        50
Versicolor    50
Name: variety, dtype: int64

In [21]:
## Agrega una clave para identificar cada caso, es decir, cada registro
x['key'] = list(range(150))
x.head()

   sepal.length  sepal.width  petal.length  petal.width variety  key
0           5.1          3.5           1.4          0.2  Setosa    0
1           4.9          3.0           1.4          0.2  Setosa    1
2           4.7          3.2           1.3          0.2  Setosa    2
3           4.6          3.1           1.5          0.2  Setosa    3
4           5.0          3.6           1.4          0.2  Setosa    4

In [22]:
z = pandas.melt(x,                            # DataFrame
                id_vars = ['key', 'variety'], # columnas que no se apilan
                var_name = 'Variables',       # nombre de la columna que contiene las columnas apiladas 
                value_name = 'Valores')       # nombre de la columna que contiene los valores

In [23]:
z.head()

   key variety     Variables  Valores
0    0  Setosa  sepal.length      5.1
1    1  Setosa  sepal.length      4.9
2    2  Setosa  sepal.length      4.7
3    3  Setosa  sepal.length      4.6
4    4  Setosa  sepal.length      5.0

In [24]:
del x['key']

In [25]:
## importa la librería
import pandas
import numpy as np

pandas.set_option('display.notebook_repr_html', False)

In [26]:
## lee el archivo del disco.
x = pandas.read_csv('files/iris.csv',
                     sep = ',',
                     thousands = None,
                     decimal = '.')

In [27]:
x.stack().head(20)

0  sepal.length       5.1
   sepal.width        3.5
   petal.length       1.4
   petal.width        0.2
   variety         Setosa
1  sepal.length       4.9
   sepal.width          3
   petal.length       1.4
   petal.width        0.2
   variety         Setosa
2  sepal.length       4.7
   sepal.width        3.2
   petal.length       1.3
   petal.width        0.2
   variety         Setosa
3  sepal.length       4.6
   sepal.width        3.1
   petal.length       1.5
   petal.width        0.2
   variety         Setosa
dtype: object

In [28]:
(x.stack()).unstack().head(4)

  sepal.length sepal.width petal.length petal.width variety
0          5.1         3.5          1.4         0.2  Setosa
1          4.9           3          1.4         0.2  Setosa
2          4.7         3.2          1.3         0.2  Setosa
3          4.6         3.1          1.5         0.2  Setosa

In [29]:
m = pandas.DataFrame( {'key1'    : ['a', 'a', 'b', 'b', 'c', 'c'],
                       'key2'    : ['A', 'B', 'A', 'B', 'A', 'B'],
                       'values1' : [ 1,   2,   3,   4,   5,   6 ],
                       'values2' : [ 7,   8,   9,  10,  11,  12]})
print(m)

  key1 key2  values1  values2
0    a    A        1        7
1    a    B        2        8
2    b    A        3        9
3    b    B        4       10
4    c    A        5       11
5    c    B        6       12

In [30]:
## Se crea el pivote
z = pandas.pivot_table(m, 
                       index = ['key1', 'key2'],
                       values = ['values1', 'values2'])

print(z)

           values1  values2
key1 key2
a    A           1        7
     B           2        8
b    A           3        9
     B           4       10
c    A           5       11
     B           6       12

In [31]:
d1 = pandas.DataFrame({ 'x' : list(range(1,5)),
                        'y' : list(range(6,10))})

d2 = pandas.DataFrame({ 'x' : [ 1,  2,  3,  4,  5,  1,  2,  3,  4,   5],
                        'w' : [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]})

pandas.merge(d1, d2)

   x  y   w
0  1  6  10
1  1  6  60
2  2  7  20
3  2  7  70
4  3  8  30
5  3  8  80
6  4  9  40
7  4  9  90

In [33]:
## Se genera variables dummies para variables categóricas.
pandas.get_dummies(x.variety)

     Setosa  Versicolor  Virginica
0         1           0          0
1         1           0          0
2         1           0          0
3         1           0          0
4         1           0          0
5         1           0          0
6         1           0          0
7         1           0          0
8         1           0          0
9         1           0          0
10        1           0          0
11        1           0          0
12        1           0          0
13        1           0          0
14        1           0          0
15        1           0          0
16        1           0          0
17        1           0          0
18        1           0          0
19        1           0          0
20        1           0          0
21        1           0          0
22        1           0          0
23        1           0          0
24        1           0          0
25        1           0          0
26        1           0          0
27        1           0          0
28        1           0          0
29        1           0          0
..      ...         ...        ...
120       0           0          1
121       0           0          1
122       0           0          1
123       0           0          1
124       0           0          1
125       0           0          1
126       0           0          1
127       0           0          1
128       0           0          1
129       0           0          1
130       0           0          1
131       0           0          1
132       0           0          1
133       0           0          1
134       0           0          1
135       0           0          1
136       0           0          1
137       0           0          1
138       0           0          1
139       0           0          1
140       0           0          1
141       0           0          1
142       0           0          1
143       0           0          1
144       0           0          1
145       0           0          1
146       0           0          1
147       0           0          1
148       0           0          1
149       0           0          1

[150 rows x 3 columns]

In [34]:
## importa la librería
import pandas
import numpy as np

pandas.set_option('display.notebook_repr_html', False)

In [35]:
## lee el archivo del disco.
x = pandas.read_csv('files/iris.csv',
                     sep = ',',
                     thousands = None,
                     decimal = '.')

In [36]:
## creación de una nueva columna
x['n'] = 1 
x.head()

   sepal.length  sepal.width  petal.length  petal.width variety  n
0           5.1          3.5           1.4          0.2  Setosa  1
1           4.9          3.0           1.4          0.2  Setosa  1
2           4.7          3.2           1.3          0.2  Setosa  1
3           4.6          3.1           1.5          0.2  Setosa  1
4           5.0          3.6           1.4          0.2  Setosa  1

In [37]:
## Modificación de un valor particular
x.iat[0,5] = 10
x.head()

   sepal.length  sepal.width  petal.length  petal.width variety   n
0           5.1          3.5           1.4          0.2  Setosa  10
1           4.9          3.0           1.4          0.2  Setosa   1
2           4.7          3.2           1.3          0.2  Setosa   1
3           4.6          3.1           1.5          0.2  Setosa   1
4           5.0          3.6           1.4          0.2  Setosa   1

In [38]:
## Modificación de una columna
x['n'] = list(range(150))
x.head()

   sepal.length  sepal.width  petal.length  petal.width variety  n
0           5.1          3.5           1.4          0.2  Setosa  0
1           4.9          3.0           1.4          0.2  Setosa  1
2           4.7          3.2           1.3          0.2  Setosa  2
3           4.6          3.1           1.5          0.2  Setosa  3
4           5.0          3.6           1.4          0.2  Setosa  4

In [39]:
## Borrado de la columna
del x['n']
x.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [40]:
## los DataFrames son diccionarios y pueden manipularse como tal
## se indica en que posicion se inserta la columna con valores 
## lógicos
x.insert(2, 'logical_value', x['sepal.length'] > 4)
x.head()

   sepal.length  sepal.width  logical_value  petal.length  petal.width variety
0           5.1          3.5           True           1.4          0.2  Setosa
1           4.9          3.0           True           1.4          0.2  Setosa
2           4.7          3.2           True           1.3          0.2  Setosa
3           4.6          3.1           True           1.5          0.2  Setosa
4           5.0          3.6           True           1.4          0.2  Setosa

In [41]:
del x['logical_value']
x.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [42]:
## Alineación
## Suma las columnas colB
a = pandas.DataFrame({'colA': [1, 2],
                      'colB': [3, 4]})

b = pandas.DataFrame({'colB': [5, 6],
                      'colC': [7, 8]})

print(a)
print('')
print(b)
print('')
print(a + b)

   colA  colB
0     1     3
1     2     4

   colB  colC
0     5     7
1     6     8

   colA  colB  colC
0   NaN     8   NaN
1   NaN    10   NaN

In [43]:
## se pueden aplicar todas las operaciones matemáticas 
## existentes en numpy
np.sqrt(a)

       colA      colB
0  1.000000  1.732051
1  1.414214  2.000000

In [44]:
## Adición de una fila (al final)
u = pandas.DataFrame({'sepal.length' : [1], 
                      'sepal.width' : [1], 
                      'petal.length' : [1], 
                      'petal.width' : [1], 
                      'variety' : ['Setosa']})

x.append(u, ignore_index = True).tail()

     sepal.length  sepal.width  petal.length  petal.width    variety
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica
150           1.0          1.0           1.0          1.0     Setosa

In [45]:
## Se crea un vector aleatorio de indices
u = np.random.choice(range(150), 
                     size=20, 
                     replace=False)
u

array([116, 147,  47,  20,  90, 111, 121,  78,  50,  21,  30,  92,  81,
       127,  93, 107, 103,  42,  53,  70])

In [46]:
## Submuestra de data.frame original `x`
y = x.loc[u].copy()
y.head()

     sepal.length  sepal.width  petal.length  petal.width     variety
116           6.5          3.0           5.5          1.8   Virginica
147           6.5          3.0           5.2          2.0   Virginica
47            4.6          3.2           1.4          0.2      Setosa
20            5.4          3.4           1.7          0.2      Setosa
90            5.5          2.6           4.4          1.2  Versicolor

In [47]:
## Se cambian los nombres de las filas 
y.index = list(range(20))
y

    sepal.length  sepal.width  petal.length  petal.width     variety
0            6.5          3.0           5.5          1.8   Virginica
1            6.5          3.0           5.2          2.0   Virginica
2            4.6          3.2           1.4          0.2      Setosa
3            5.4          3.4           1.7          0.2      Setosa
4            5.5          2.6           4.4          1.2  Versicolor
5            6.4          2.7           5.3          1.9   Virginica
6            5.6          2.8           4.9          2.0   Virginica
7            6.0          2.9           4.5          1.5  Versicolor
8            7.0          3.2           4.7          1.4  Versicolor
9            5.1          3.7           1.5          0.4      Setosa
10           4.8          3.1           1.6          0.2      Setosa
11           5.8          2.6           4.0          1.2  Versicolor
12           5.5          2.4           3.7          1.0  Versicolor
13           6.1          3.0           4.9          1.8   Virginica
14           5.0          2.3           3.3          1.0  Versicolor
15           7.3          2.9           6.3          1.8   Virginica
16           6.3          2.9           5.6          1.8   Virginica
17           4.4          3.2           1.3          0.2      Setosa
18           5.5          2.3           4.0          1.3  Versicolor
19           5.9          3.2           4.8          1.8  Versicolor

In [48]:
## De la submuestra `y` se hacen varios registros incompletos
## cambiando varios valores en la columna `Sepal.Length` por NA
u = np.random.choice(range(20), size=10, replace=False)
u

array([16, 18, 14,  4,  2, 15, 11, 19, 13,  3])

In [49]:
y.iloc[u]

    sepal.length  sepal.width  petal.length  petal.width     variety
16           6.3          2.9           5.6          1.8   Virginica
18           5.5          2.3           4.0          1.3  Versicolor
14           5.0          2.3           3.3          1.0  Versicolor
4            5.5          2.6           4.4          1.2  Versicolor
2            4.6          3.2           1.4          0.2      Setosa
15           7.3          2.9           6.3          1.8   Virginica
11           5.8          2.6           4.0          1.2  Versicolor
19           5.9          3.2           4.8          1.8  Versicolor
13           6.1          3.0           4.9          1.8   Virginica
3            5.4          3.4           1.7          0.2      Setosa

In [50]:
## Casos con datos faltantes 
y.loc[u, 'Sepal_Length'] = np.nan
y

    sepal.length  sepal.width  petal.length  petal.width     variety  \
0            6.5          3.0           5.5          1.8   Virginica
1            6.5          3.0           5.2          2.0   Virginica
2            4.6          3.2           1.4          0.2      Setosa
3            5.4          3.4           1.7          0.2      Setosa
4            5.5          2.6           4.4          1.2  Versicolor
5            6.4          2.7           5.3          1.9   Virginica
6            5.6          2.8           4.9          2.0   Virginica
7            6.0          2.9           4.5          1.5  Versicolor
8            7.0          3.2           4.7          1.4  Versicolor
9            5.1          3.7           1.5          0.4      Setosa
10           4.8          3.1           1.6          0.2      Setosa
11           5.8          2.6           4.0          1.2  Versicolor
12           5.5          2.4           3.7          1.0  Versicolor
13           6.1          3.0           4.9          1.8   Virginica
14           5.0          2.3           3.3          1.0  Versicolor
15           7.3          2.9           6.3          1.8   Virginica
16           6.3          2.9           5.6          1.8   Virginica
17           4.4          3.2           1.3          0.2      Setosa
18           5.5          2.3           4.0          1.3  Versicolor
19           5.9          3.2           4.8          1.8  Versicolor

    Sepal_Length
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
5            NaN
6            NaN
7            NaN
8            NaN
9            NaN
10           NaN
11           NaN
12           NaN
13           NaN
14           NaN
15           NaN
16           NaN
17           NaN
18           NaN
19           NaN

In [51]:
## apilado de dataframes 
## los casos 151 a 170 contienen casos duplicados o
## casos con datos faltantes
w = pandas.concat([x, y])
w.index = list(range(170))
w.tail(25)

C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  after removing the cwd from sys.path.

     Sepal_Length  petal.length  petal.width  sepal.length  sepal.width  \
145           NaN           5.2          2.3           6.7          3.0
146           NaN           5.0          1.9           6.3          2.5
147           NaN           5.2          2.0           6.5          3.0
148           NaN           5.4          2.3           6.2          3.4
149           NaN           5.1          1.8           5.9          3.0
150           NaN           5.5          1.8           6.5          3.0
151           NaN           5.2          2.0           6.5          3.0
152           NaN           1.4          0.2           4.6          3.2
153           NaN           1.7          0.2           5.4          3.4
154           NaN           4.4          1.2           5.5          2.6
155           NaN           5.3          1.9           6.4          2.7
156           NaN           4.9          2.0           5.6          2.8
157           NaN           4.5          1.5           6.0          2.9
158           NaN           4.7          1.4           7.0          3.2
159           NaN           1.5          0.4           5.1          3.7
160           NaN           1.6          0.2           4.8          3.1
161           NaN           4.0          1.2           5.8          2.6
162           NaN           3.7          1.0           5.5          2.4
163           NaN           4.9          1.8           6.1          3.0
164           NaN           3.3          1.0           5.0          2.3
165           NaN           6.3          1.8           7.3          2.9
166           NaN           5.6          1.8           6.3          2.9
167           NaN           1.3          0.2           4.4          3.2
168           NaN           4.0          1.3           5.5          2.3
169           NaN           4.8          1.8           5.9          3.2

        variety
145   Virginica
146   Virginica
147   Virginica
148   Virginica
149   Virginica
150   Virginica
151   Virginica
152      Setosa
153      Setosa
154  Versicolor
155   Virginica
156   Virginica
157  Versicolor
158  Versicolor
159      Setosa
160      Setosa
161  Versicolor
162  Versicolor
163   Virginica
164  Versicolor
165   Virginica
166   Virginica
167      Setosa
168  Versicolor
169  Versicolor

In [52]:
## casos duplicados
## note que el caso 142 aparece duplicado
w[w.duplicated()]

     Sepal_Length  petal.length  petal.width  sepal.length  sepal.width  \
142           NaN           5.1          1.9           5.8          2.7
150           NaN           5.5          1.8           6.5          3.0
151           NaN           5.2          2.0           6.5          3.0
152           NaN           1.4          0.2           4.6          3.2
153           NaN           1.7          0.2           5.4          3.4
154           NaN           4.4          1.2           5.5          2.6
155           NaN           5.3          1.9           6.4          2.7
156           NaN           4.9          2.0           5.6          2.8
157           NaN           4.5          1.5           6.0          2.9
158           NaN           4.7          1.4           7.0          3.2
159           NaN           1.5          0.4           5.1          3.7
160           NaN           1.6          0.2           4.8          3.1
161           NaN           4.0          1.2           5.8          2.6
162           NaN           3.7          1.0           5.5          2.4
163           NaN           4.9          1.8           6.1          3.0
164           NaN           3.3          1.0           5.0          2.3
165           NaN           6.3          1.8           7.3          2.9
166           NaN           5.6          1.8           6.3          2.9
167           NaN           1.3          0.2           4.4          3.2
168           NaN           4.0          1.3           5.5          2.3
169           NaN           4.8          1.8           5.9          3.2

        variety
142   Virginica
150   Virginica
151   Virginica
152      Setosa
153      Setosa
154  Versicolor
155   Virginica
156   Virginica
157  Versicolor
158  Versicolor
159      Setosa
160      Setosa
161  Versicolor
162  Versicolor
163   Virginica
164  Versicolor
165   Virginica
166   Virginica
167      Setosa
168  Versicolor
169  Versicolor

In [53]:
## Se eliminan los datos duplicados
## note que se eliminaron varios casos entre el 151 y el 170
w.drop_duplicates().tail(20)

     Sepal_Length  petal.length  petal.width  sepal.length  sepal.width  \
129           NaN           5.8          1.6           7.2          3.0
130           NaN           6.1          1.9           7.4          2.8
131           NaN           6.4          2.0           7.9          3.8
132           NaN           5.6          2.2           6.4          2.8
133           NaN           5.1          1.5           6.3          2.8
134           NaN           5.6          1.4           6.1          2.6
135           NaN           6.1          2.3           7.7          3.0
136           NaN           5.6          2.4           6.3          3.4
137           NaN           5.5          1.8           6.4          3.1
138           NaN           4.8          1.8           6.0          3.0
139           NaN           5.4          2.1           6.9          3.1
140           NaN           5.6          2.4           6.7          3.1
141           NaN           5.1          2.3           6.9          3.1
143           NaN           5.9          2.3           6.8          3.2
144           NaN           5.7          2.5           6.7          3.3
145           NaN           5.2          2.3           6.7          3.0
146           NaN           5.0          1.9           6.3          2.5
147           NaN           5.2          2.0           6.5          3.0
148           NaN           5.4          2.3           6.2          3.4
149           NaN           5.1          1.8           5.9          3.0

       variety
129  Virginica
130  Virginica
131  Virginica
132  Virginica
133  Virginica
134  Virginica
135  Virginica
136  Virginica
137  Virginica
138  Virginica
139  Virginica
140  Virginica
141  Virginica
143  Virginica
144  Virginica
145  Virginica
146  Virginica
147  Virginica
148  Virginica
149  Virginica

In [54]:
## Se detectan los datos nulos 
w['sepal.length'].isnull().tail(10)

160    False
161    False
162    False
163    False
164    False
165    False
166    False
167    False
168    False
169    False
Name: sepal.length, dtype: bool

In [55]:
## se deben utilizar operadoreslógicos para considerar más columnas
w[w['sepal.length'].isnull()]

Empty DataFrame
Columns: [Sepal_Length, petal.length, petal.width, sepal.length, sepal.width, variety]
Index: []

In [56]:
## Se eleminan los casos con datos nulos. 
w.dropna().tail(20)

Empty DataFrame
Columns: [Sepal_Length, petal.length, petal.width, sepal.length, sepal.width, variety]
Index: []

In [57]:
## resumen de estadísticos descriptivos
print(x.describe())

       sepal.length  sepal.width  petal.length  petal.width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [58]:
## Se halla la media
x.mean()

sepal.length    5.843333
sepal.width     3.057333
petal.length    3.758000
petal.width     1.199333
dtype: float64

In [59]:
x.mean(1).head()

0    2.550
1    2.375
2    2.350
3    2.350
4    2.550
dtype: float64

In [60]:
## se crean los DataFrames
df1 = pandas.DataFrame({'colA': [1, 2],
                        'colB': [3, 4]})

df2 = pandas.DataFrame({'colB': [5, 6],
                      '  colC': [7, 8]})

df3 = pandas.DataFrame({'colC': [9, 0],
                      '  colD': [1, 2]})

In [61]:
## creación del panel como un diccionario
pdPanel = { 'df1': df1,
            'df2': df2,
            'df3': df3}
print(pdPanel)

{'df1':    colA  colB
0     1     3
1     2     4, 'df2':    colB    colC
0     5       7
1     6       8, 'df3':    colC    colD
0     9       1
1     0       2}